{% extends 'main.html' %}

{% block content %}
<h1>Home Template!</h1>
<div>
  <a href="{% url 'create-room' %}">Create Room</a>
  <div>
    <h2>Rooms</h2>
    <ul>
      {% for room in rooms %}
      <li>
        <span>@{{ room.host.username }}</span>
        <a href="{% url 'room' room.id %}">{{room.id}} - {{ room.name}}</a>
        <small>{{ room.topic.name }}</small>
        <a href="{% url 'update-room' room.id %}">Update</a>
        <a href="{% url 'delete-room' room.id %}">Delete</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
